version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: ems-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

  mongo:
    image: mongo:6
    container_name: ems-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
